* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    border: 3px solid black;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    background: linear-gradient(45deg, rgba(18,183,236,1) 0%, rgba(37,115,166,1) 33%, rgba(36,119,170,1) 42%, rgba(255,0,0,1) 63%);
}



.flex-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 200px;
    padding: 4% 2%;
    max-width: 1670px;
}

h1, h2 {
    margin: 5% auto;
    text-align: center;
    font-family: 'Syncopate', sans-serif;
}

.flex-container.column {
    flex-direction: column;
    margin-top: 2%;
    background: linear-gradient(45deg, rgba(1,1,1,1) 0%, rgba(75,67,67,1) 34%, rgba(87,87,87,1) 51%, rgba(120,122,120,1) 63%, rgba(114,120,113,1) 95%);
    color: white;
}

button {
    height: 30px;
    width: 150px;
    margin-top: 10px;
    border-radius: 10px;
    background:rgb(200, 240, 160);
}

input {
    height: 30px;
    border-radius: 5px;
}

p {
    font-family: 'Alef', sans-serif;
}

button:active {
    background-color: darkgray;
}

/*mobile screens*/
@media (max-width: 750px) {
    .flex-container {
        flex-direction: column;
        width: 99%;
        background: linear-gradient(180deg, rgba(18,183,236,1) 0%, rgba(37,115,166,1) 33%, rgba(36,119,170,1) 42%, rgba(255,0,0,1) 63%);
    }

    form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 50%;
        min-width: 250px;
    }

    form input {
        width: 100%;
        margin: 10px 0;
    }
}

/*mobile screens*/
/* @media (max-width: 1065px) {
    form {
        width: 100%;
    }

    input, button {
        margin: 5px auto;
        width: 100%;
        height: 2em;
        font-size: 1em;
    }
    .flex-container {
        width: 100%;
        min-width: 300px;
        min-height: 50vh;
        font-size: 3em;
    }

    .quotes {
        font-size: .5em;
        width: 100%;
    }

    .flex-section {
        width: 95%;
    }
} */
